:root {
    --violet: #5e4894;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background: #090A0E;

}

body {
    height: 90vh;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

section {
    padding: 5rem 7%;
    display: block;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    background: url(https://res.cloudinary.com/dogrgo15f/image/upload/v1724057027/images/w1asnp6cvubzdb5wl2oc.webp) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .homepagecontent {
    max-width: 90rem;
}

.home .homepagecontent h4 {
    font-size: 2rem;
    color: aliceblue;
    position: relative;
    top: -45.0rem;
    text-shadow: 2px 2px 4px #000000
}

.home .homepagecontent h2 {
    font-size: 7rem;
    color: rgb(179, 218, 255);
    position: relative;
    top: -40.0rem;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(136, 0, 255), 0 0 5px darkblue;
}

.home .homepagecontent h2 span {
    font-size: 8rem;
    color: #420742;
}

.home .homepagecontent h5 {
    font-size: 1.5rem;
    color: rgb(159, 170, 180);
    padding: 1rem 1.5rem;
    line-height: 2.0;
    font-weight: medium;
    background: rgba(7, 1, 27, 0.871);
    box-shadow: 0.5rem 1rem rgba(13, 13, 13, 0.616);
    border-radius: .5rem;
    position: relative;
    top: -37.0rem;

}

.home .homepagecontent h5 span {
    font-size: 2.0rem;
    color: #435993;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(136, 0, 255), 0 0 5px darkblue;
}

.home .homepagecontent .jabsimg {
    position: relative;
    width: 260px;
    right: -88rem;
    bottom: 6.0rem;
    border-radius: 20%;
    box-shadow: 0.5rem 1rem rgba(31, 31, 33, 0.356);
    transition: transform 0.3s ease;
}

.home .homepagecontent .jabsimg:hover {
    transform: scale(1.1);
}


.home .homepagecontent .rectangle {

    position: relative;
    width: 270px;
    height: 280px;
    right: -90rem;
    bottom: -18.0rem;
    border-radius: 20%;
    background: rgba(91, 83, 124, 0.438);
    box-shadow: 0.5rem 1rem rgba(31, 31, 33, 0.356);
}

.btncm {
    display: inline-block;
    position: relative;
    bottom: 30rem;
    border-radius: 5rem;
    background: var(--violet);
    color: #fff;
    padding: .9rem 3.5rem;
    font-size: 2.0rem;
    box-shadow: 0.5rem 1rem rgba(13, 13, 13, 0.616);

}

.btncm:hover {
    background: #5f6b8b;
}

.home .iconsContacts a {
    position: relative;
    top: -5rem;
    left: 25rem;
    font-size: 5.5rem;
    color: rgb(179, 218, 255);
    margin-left: 10.0rem;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(136, 0, 255), 0 0 5px darkblue;
}

.home .iconsContacts a:hover {
    color: #420742;

}






@media screen and (max-width:450px) {
    html {
        font-size: 50%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home .homepagecontent h4 {
        top: -40rem;
    }

    .home .homepagecontent .jabsimg {
        width: 25rem;
        height: 25rem;
        left: 15rem;
        bottom: -10rem;
    }

    .home .homepagecontent .rectangle {
        width: 25rem;
        height: 25rem;
        left: 10rem;
        bottom: -33rem;
    }

    .home .homepagecontent h5 {
        top: -7rem;
    }

    .btncm {
        top: -4rem;
        left: 1rem;
    }

    .home .homepagecontent .iconsContacts a {
        width: -1rem;
        margin-left: 3.5rem;
        left: -1rem;
        bottom: 10rem;
        top: -1rem;
    }


}


@media screen and (min-width: 451px) and (max-width: 768px) {


    html {
        font-size: 47%;
    }

    .home .homepagecontent h4 {
        top: -25rem;
    }

    .home .homepagecontent h2 {
        top: -20rem;
    }

    .home .homepagecontent .jabsimg,
    .home .homepagecontent .rectangle {
        width: 20rem;
        height: 20rem;
    }

    .home .homepagecontent .jabsimg {
        left: 57rem;
        bottom: 1rem;
    }

    .home .homepagecontent .rectangle {
        left: 60rem;
        bottom: -15rem;
    }

    .home .homepagecontent h5 {
        top: -13rem;
    }

    .btncm {
        top: -5rem;
    }

    .home .homepagecontent .iconsContacts a {
        width: 5rem;
        margin-left: 10rem;
        left: 10rem;
        top: 1rem;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 45%;
    }

    .home .homepagecontent .jabsimg {
        left: 75rem;
        bottom: 13rem;
    }

    .home .homepagecontent .rectangle {
        left: 80rem;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 40%;
    }
}