:root {
    --violet: #170f2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background: #090A0E;

}

section {
    padding: 5rem 7%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(91, 83, 124, 0.438);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(31, 31, 33, 0.356);

}

header .logo {
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
}

header .logo:hover {
    color: #420742;
}

header .logo span {
    color: var(--violet);
}

header .navbar a {
    font-size: 2rem;
    padding: 0 4.0rem;
    color: #ffffff;
}

header .navbar a:hover {
    color: var(--violet);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: var(--violet);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(https://res.cloudinary.com/dogrgo15f/image/upload/v1724057027/images/w1asnp6cvubzdb5wl2oc.webp) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .homepagecontent {
    max-width: 90rem;
}

.home .homepagecontent h4 {
    font-size: 2rem;
    color: aliceblue;
    position: relative;
    top: -43.0rem;
}

.home .homepagecontent h2 {
    font-size: 7rem;
    color: rgb(179, 218, 255);
    position: relative;
    top: -38.0rem;
}

.home .homepagecontent h2 span {
    font-size: 8rem;
    color: #420742;
}

.home .homepagecontent h5 {
    font-size: 1.5rem;
    color: rgb(159, 170, 180);
    padding: 1rem 1.5rem;
    line-height: 2.0;
    font-weight: medium;
    background: rgba(7, 1, 27, 0.871);
    box-shadow: 0.5rem 1rem rgba(31, 31, 33, 0.356);
    border-radius: .5rem;
    position: relative;
    top: -33.0rem;

}

.home .homepagecontent h5 span {
    font-size: 2.0rem;
    color: #435993;
}

.home .homepagecontent .jabsimg {
    position: relative;
    width: 260px;
    right: -88rem;
    bottom: 6.0rem;
    border-radius: 20%;
    box-shadow: 0.5rem 1rem rgba(31, 31, 33, 0.356);
}

.home .homepagecontent .rectangle {

    position: relative;
    width: 270px;
    height: 280px;
    right: -90rem;
    bottom: -18.0rem;
    border-radius: 20%;
    background: rgba(91, 83, 124, 0.438);
    box-shadow: 0.5rem 1rem rgba(31, 31, 33, 0.356);
}

.btncm {
    display: inline-block;
    position: relative;
    bottom: 28rem;
    border-radius: 5rem;
    background: var(--violet);
    color: #fff;
    padding: .9rem 3.5rem;
    font-size: 2.0rem;

}

.btncm:hover {
    background: #5f6b8b;
}

.home .iconsContacts a {
    position: relative;
    top: -5rem;
    left: 25rem;
    font-size: 5.5rem;
    color: rgb(179, 218, 255);
    margin-left: 10.0rem;
}

.home .iconsContacts a:hover {
    color: #420742;

}

.aboutme {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.aboutme .aboutmecontent {
    max-width: 90rem;
}

.aboutme .aboutmecontent h2 {
    font-size: 2.5rem;
    width: 14.0rem;
    color: #5f6b8b;
    padding: 1rem 1.0rem;
    line-height: 2.0;
    font-weight: bolder;
    background: rgb(21, 23, 38, 100%);
    box-shadow: 0.5rem 1rem rgba(31, 31, 33, 0.356);
    border-radius: .5rem;
    position: relative;
    top: 5.0rem;
    right: -105.0rem;

}

.aboutme .aboutmecontent h2:hover {
    background: #420742;
}

.aboutme .ellipse1 {
    width: 100px;
    height: 100px;
    background-color: rgb(21, 23, 38, 100%);
    border-radius: 50%;
    position: relative;
    top: -5rem;
    right: -80rem;
}

.aboutme .ellipse2 {
    width: 50px;
    height: 50px;
    background-color: #5f6b8b;
    border-radius: 50%;
    position: relative;
    top: -10rem;
    right: -78rem;
}

.aboutme .lappy {
    position: relative;
    width: 400px;
    left: 3rem;
    bottom: 6.0rem;
    border-radius: 20%;
    box-shadow: 0.5rem 1rem rgba(125, 125, 160, 0.707);
    background: #420742;
}

.aboutme .lappy:hover {
    background: #435993;
}

.aboutme .aboutmecontent p {
    font-size: 1.5rem;
    color: rgb(159, 170, 180);
    padding: 1rem 1.5rem;
    line-height: 2.0;
    font-weight: medium;
    background: rgba(7, 1, 27, 0.871);
    box-shadow: 0.5rem 1rem rgba(31, 31, 33, 0.356);
    border-radius: 5rem;
    position: relative;
    top: -30.0rem;
    border: 1rem solid #5f6b8b;
    right: -60rem;

}

.projects {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.projects .projcontent {
    max-width: 90rem;
}

.projects .projcontent h2 {
    font-size: 2.5rem;
    width: 14.0rem;
    color: #5f6b8b;
    padding: 1rem 1.0rem;
    line-height: 2.0;
    font-weight: bolder;
    background: rgb(21, 23, 38, 100%);
    box-shadow: 0.5rem 1rem rgba(31, 31, 33, 0.356);
    border-radius: .5rem;
    position: relative;
    top: 4.0rem;
    left: 3.0rem;

}

.projects .projcontent h2:hover {
    background: #420742;
}

.projects .proj1 {
    position: relative;
    width: 300px;
    left: 40rem;
    bottom: 15.0rem;
    border-radius: 10%;
    box-shadow: 0.5rem 1rem rgba(125, 125, 160, 0.707);
    background: #420742;
    bottom: 3rem;
}

.projects .proj1:hover {
    transform: scale(1.1);
}

.projects .p1 {
    font-size: 1.5rem;
    width: 10.0rem;
    color: #5f6b8b;
    padding: 1rem 1.0rem;
    line-height: 2.0;
    font-weight: bolder;
    background: rgba(21, 23, 38, 0.127);
    border-radius: .5rem;
    border: solid #420742;
    position: relative;
    top: 4.0rem;
    left: 50.0rem;

}

.projects .proj2 {
    position: relative;
    width: 330px;
    left: 83rem;
    bottom: 15.0rem;
    border-radius: 10%;
    box-shadow: 0.5rem 1rem rgba(125, 125, 160, 0.707);
    background: #420742;
    top: -30rem;
}

.projects .proj2:hover {
    transform: scale(1.1);
}

.projects .p2 {
    font-size: 1.5rem;
    width: 13.0rem;
    color: #5f6b8b;
    padding: 1rem 1.0rem;
    line-height: 2.0;
    font-weight: bolder;
    background: rgba(21, 23, 38, 0.127);
    border-radius: .5rem;
    border: solid #420742;
    position: relative;
    top: -24.0rem;
    left: 90.0rem;

}

.projects .proj3 {
    position: relative;
    width: 330px;
    left: 62rem;
    bottom: 20.0rem;
    border-radius: 10%;
    box-shadow: 0.5rem 1rem rgba(125, 125, 160, 0.707);
    background: #420742;
    top: -20rem;
}

.projects .proj3:hover {
    transform: scale(1.1);
}

.projects .p3 {
    font-size: 1.5rem;
    width: 13.0rem;
    color: #5f6b8b;
    padding: 1rem 1.0rem;
    line-height: 2.0;
    font-weight: bolder;
    background: rgba(21, 23, 38, 0.127);
    border-radius: .5rem;
    border: solid #420742;
    position: relative;
    top: -15.0rem;
    left: 73.0rem;

}

.skills {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.skills .skillscontent {
    max-width: 90rem;
}

.skills .skillscontent h2 {
    font-size: 2.5rem;
    width: 14.0rem;
    color: #5f6b8b;
    padding: 1rem 1.0rem;
    line-height: 2.0;
    font-weight: bolder;
    background: rgb(21, 23, 38, 100%);
    box-shadow: 0.5rem 1rem rgba(31, 31, 33, 0.356);
    border-radius: .5rem;
    position: relative;
    top: 4.0rem;
    left: 3.0rem;

}






























@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }

}

@media (max-width:768px) {
    html .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background: #090A0E;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #5f6b8b;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .homepagecontent h4 {
        font-size: 2rem;
        position: relative;
        right: -4.0rem;
    }

    .home .homepagecontent h2 {
        font-size: 4rem;
        position: relative;
        right: -4.0rem;
    }

    .home .homepagecontent h5 {
        font-size: 1.5rem;
        position: relative;
        right: -4.0rem;
    }


    .home .homepagecontent .jabsimg {
        position: relative;
        width: 180px;
        left: 55rem;
        bottom: 6.0rem;
    }

    .home .homepagecontent .rectangle {

        position: relative;
        width: 175px;
        height: 200px;
        left: 60rem;
        bottom: -15.0rem;
    }

    .btncm {
        position: relative;
        bottom: 7rem;
        font-size: 1.7rem;
        right: -4.0rem;

    }

}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .home .homepagecontent .jabsimg {
        position: relative;
        width: 125px;
        left: 30rem;
        bottom: 13.0rem;
    }

    .home .homepagecontent .rectangle {

        position: relative;
        width: 125px;
        height: 143px;
        left: 34rem;
        bottom: -3.0rem;
    }

}