:root {
    --violet: #5e4894;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background: #090A0E;

}

body {
    height: 90vh;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

section {
    padding: 5rem 7%;
}



.projects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    border: 2px solid #5e4894;
    gap: 10px;
}

.projects .proj-container {
    max-width: 100rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects h2 {
    font-size: 2.5rem;
    width: 14.0rem;
    color: #94a5d4;
    padding: 1rem;
    line-height: 4.0rem;
    font-weight: bolder;
    background: rgb(21, 23, 38, 100%);
    box-shadow: 0.5rem 1rem rgba(31, 31, 33, 0.356);
    border-radius: .5rem;
    position: relative;
    top: -1rem;
    margin: 0 auto;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
}

.projects h2:hover {
    background: #420742;
}

.image-containerproj {
    position: relative;
    width: 280px;
    margin: 20px;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    border: 2px solid #af9cae;
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(56, 24, 84), 0 0 5px darkblue;
}

.image-containerproj img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image-containerproj img:hover {
    transform: scale(1.1);
}

.image-containerproj .text-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: #af9cae;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}














@media screen and (max-width:450px) {
    html {
        font-size: 50%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }


}


@media screen and (min-width: 451px) and (max-width: 768px) {


    html {
        font-size: 47%;
    }

}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 40%;
    }
}