#about {
    /* border: 1px solid red; */
    height: calc(100vh - 80px);
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    background-color: rgb(224, 227, 229);
}

.about-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 1200px; 
    min-height: auto;
}


.about-content {
    background-color: rgb(246, 251, 255);
    font-size: 32px;
    margin-bottom: 20px;
    color: #178582;
    text-align: center;
    background-color: rgb(224, 227, 229);
    box-shadow: 1px 4px 5px #090909;
    
}


.about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    margin-bottom: 20px;
    color: #BFA181;
    text-align: center;
    background-color: rgb(224, 227, 229);
    text-shadow: 1px 2px #ffffff;
}


.about-content p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-shadow: 1px 2px #ffffff;
}

@media screen and (max-width: 768px) {
    #about {
        padding: 0 30px;
    }
    .about-title {
        font-size: 30px;
    }

    .about-content p {
        font-size: 17px;
    }
}

@media screen and (max-width: 480px) {
    #about {
        padding: 0 20px;
    }
    .about-title {
        font-size: 30px;
    }

    .about-content p {
        font-size: 16px;

    }
}
