#home {
    /* border: 1px solid red; */
    height: calc(100vh - 80px);
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    
}


.home-intro {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 1200px; 
    min-height: auto;
}

.left-home {
    /* border: 1px solid red; */
    flex: 1;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding: 10px 40px;
}


.h1-intro {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column; 
    font-size: 38px;
    height: auto;
    color: #BFA181;
    align-items: center;
    
}

.intro {
    text-shadow: 1px 3px 2px rgb(255, 255, 255), 0 0 25px rgb(2, 167, 200)
}


.h1-intro span {
    color: #178582;
}

.intro {
    margin-bottom: 10px;
}


#home p {
    font-size: 30px;
    font-weight: 600;
    color: #BFA181;
    display: flex;
    margin-top: 5px; 
    text-shadow: 5px 6px #e7d8d8;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}

.resume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #178582; 
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.resume-btn:hover {
    background-color: #126f6a;
    transform: scale(1.05); 
}


.resume-btn:active {
    transform: scale(0.95);
}

.social-links {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 55px;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.fb {
    background-color: #126f6a;
    box-shadow: 2px 4px #000000;
}

.gh {
    background-color: #126f6a;
    box-shadow: 2px 4px #000000;
}

.ln {
    background-color: #126f6a;
    box-shadow: 2px 4px #000000;
}

.social-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    box-shadow: 1px 3px 2px rgb(0, 0, 0), 0 0 25px rgb(2, 167, 200)
}



.right-home {
    flex: 1;
    display: flex; 
    padding: auto;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 50%; 
    padding: 18px 40px;
}

.img-home {
    /* border: 1px solid red; */
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.img-jabs {
    align-items: center;
    display: flex;
    justify-content: center;
}

.img-jabs :hover {
    box-shadow: 1px 3px 2px rgb(0, 0, 0), 0 0 25px rgb(2, 167, 200)
}

.img-jabs img {
    max-width: 70%;
    max-height: 70%;
    /* background-color: #BFA181; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #cfe0e0 solid 30px;
    box-shadow: 5px 6px #000000;
}

@media screen and (max-width: 1024px) {
    .h1-intro {
        font-size: 30px;
    }
    
    #home p {
        font-size: 23px;
    }
}

@media screen and (max-width: 768px) {
    /* #home {
        padding: 20px;
    } */

    .h1-intro {
        font-size: 20px;
        font-weight: 300;
    }
    
    #home p {
        font-size: 18px;
        font-weight: 300;
    }

    .home-intro {
        /* flex-direction: column; */
        align-items: center;
        padding: 20px;
    }

    .left-home {
        margin-bottom: 20px;
        padding: 0;
    }

    .right-home {    
        margin-top: 20px;
        padding: 0;
    }

    .social-links {
        gap: 40px;
        padding: 20px 0;
    }

    .img-jabs img {
        max-width: 50%;
        max-height: 50%;
        border: #126f6a solid 10px;
    }


    
}

@media screen and (max-width: 480px) {
    /* #home {
        padding: 10px;
    } */

    .home-intro {
        flex-direction: column;
        align-items: center;
        /* padding: 20px; */
    }

    .h1-intro {
        font-size: 20px;
    }

    #home p {
        font-size: 18px;
    }

    .img-jabs img {
        max-width: 100%;
        max-height: 100%;
    }

    .contacts-container {
        gap: 10px;
    }
    
    .contacts {
        gap: 10px;
    }

    .contacts a {
        font-size: 20px;
    }

    .right-home {
        padding: 5px;
    }

    .img-jabs {
        padding: 10px;
    }

    .social-links {
        gap: 40px;
        padding: 40px 0;
    }

    .resume-btn {
        font-size: 12px;
        padding: 5px 10px;
    }

    
}