header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #bfa18133;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    z-index: 999;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

header .logo {
    color: #BFA181;
    font-size: 24px;
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(2, 167, 200), 0 0 5px rgb(255, 255, 255);
}

header .logo span {
    color: #178582;
    
}

header .logo:hover {
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(0, 213, 255), 0 0 5px rgb(64, 64, 64);    
}

header .navbar a {
    color: #BFA181;
    font-size: 20px;
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-shadow: 1px 2px #ffffff;
    /* text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(2, 167, 200), 0 0 5px rgb(19, 19, 19); */
    margin-left: 20px;
    padding: 0 30px;
    transition: 0.8s ease;
}

header .navbar a:hover {
    color: #178582;
}

header #toggler {
    display: none;
}

header .fa-burger {
    font-size: 24px;
    color: #BFA181;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:450px) {
    header .fa-burger {
        display: block;
    }

    header #toggler:checked ~ .navbar { 
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #bfa18133;
        padding: 20px;
        display: none;
    }

    header .navbar a {
        display: block;
        margin: 20px;
    }
}

@media screen and (max-width:768px) {
    header .fa-burger {
        display: block;
    }

    header #toggler:checked ~ .navbar { 
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #e8e5e3e1;
        padding: 20px;
        display: none;
    }

    header .navbar a {
        display: block;
        margin: 20px;
    }


    
}
